@page "/BankoCard"
@page "/BankoCard/{PassCode}/{CardNumbers}"

@using BlinkoBlanko.Banko

@inject HttpClient Http

<PageTitle>Banko cards</PageTitle>

@for (int i = 0; i < BankoPlates.Plates.Count; i++)
{
    <BankoCard Plate=@BankoPlates.Plates[i] AllowSelectingCells=true />

    @if (i > 0 && (i + 1) % 4 == 0)
    {
        <!-- Page break when printing-->
        <div class="pagebreak" style="page-break-before: always;">&nbsp;</div>
    }
}

@code {
    [Parameter]
    public string? CardNumbers { get; set; } = string.Empty;

    [Parameter]
    public string? PassCode { get; set; } = "1234";

    private BankoPlates BankoPlates = new BankoPlates();

    protected override void OnInitialized()
    {
        BankoPlates.ParseNumbers(PassCode, CardNumbers);
    }
}
