body {
}

.cardNumberDrawn {
    background-color: palegreen;
}

.bankoCard {
    margin-bottom: 3rem;
}

    .bankoCard .table {
        margin-bottom: 0;
    }

    .bankoCard td {
        padding: 0.2rem;
    }


    .bankoCard .link-secondary {
        opacity: 0.6;
    }
